version: "3"
services:
  api:
    build: .
    ports:
      - 5000:80
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - 1401:1433
    volumes:
      - ./data:/var/opt/mssql/data
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: Aa123456